In [37]:
import numpy as np
import os
import pandas as pd
import matplotlib.pyplot as plt

In [62]:
dataDir = './data/'
glassData = 'glass.txt'
glassNames = ['id','RI','Na', 'Mg', 'Al', 'Si', 'K', 'Ca', 'Ba', 'Fe', 'type']
vote84Data = 'house-votes-84.data'
vote84Names = ['class', 'infant', 'water', 'budget', 'doctorfee','salvador',
              'religion', 'satellite', 'contras', 'missile', 'immigration',
              'synfuels', 'education', 'superfund', 'crime', 'exports',
              'ZAF']

In [64]:
################################################################################
raw = pd.read_csv( os.path.join(dataDir, vote84Data), names=vote84Names )

In [96]:
z = raw.groupby('class').agg({i:'value_counts' for i in raw.columns[1:]})
z

              infant  water  budget  doctorfee  salvador  religion  satellite  \
democrat   ?       9     28       7          8        12         9          8
           n     102    119      29        245       200       135         59
           y     156    120     231         14        55       123        200
republican ?       3     20       4          3         3         2          6
           n     134     73     142          2         8        17        123
           y      31     75      22        163       157       149         39

              contras  missile  immigration  synfuels  education  superfund  \
democrat   ?        4       19            4        12         18         15
           n       45       60          139       126        213        179
           y      218      188          124       129         36         73
republican ?       11        3            3         9         13         10
           n      133      146           73       138         20         22
           y       24       19           92        21        135        136

              crime  exports  ZAF
democrat   ?     10       16   82
           n    167       91   12
           y     90      160  173
republican ?      7       12   22
           n      3      142   50
           y    158       14   96

In [94]:
raw.groupby('class').agg(pd.Series.mode)

,infant,water,budget,doctorfee,salvador,religion,satellite,contras,missile,immigration,synfuels,education,superfund,crime,exports,ZAF
class,,,,,,,,,,,,,,,,
democrat,y,y,y,n,n,n,y,y,y,n,y,n,n,n,y,y
republican,n,y,n,y,y,y,n,n,n,y,n,y,y,y,n,y

In [53]:
################################################################################
raw = pd.read_csv( os.path.join(dataDir, glassData), names=glassNames )

# adding some binary classes
raw['window'] = raw['type'] < 5 # type 1-4 are windows
raw['buildWin'] = raw['type'] < 3 # type 1 & 2 are building windows
raw['floatProc'] = raw['type'].isin([1,3]) # 1 & 3 are float processed glass
feature = ['RI','Na', 'Mg', 'Al', 'Si', 'K', 'Ca', 'Ba', 'Fe']

In [59]:
raw.groupby(['window'])[feature].mean()

,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe
window,,,,,,,,,
False,1.517638,14.066667,0.733725,1.966667,72.855490,0.559608,9.060196,0.639216,0.023137
True,1.518593,13.201718,3.294908,1.281656,72.586933,0.477485,8.924663,0.029816,0.067607

In [61]:
raw.groupby(['window'])[feature].median()

             RI     Na    Mg    Al     Si     K    Ca    Ba   Fe
window
False   1.51711  14.23  0.00  1.94  73.05  0.04  8.93  0.53  0.0
True    1.51775  13.21  3.54  1.29  72.74  0.57  8.55  0.00  0.0

In [30]:
raw

,id,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,type,window
0,1,1.52101,13.64,4.49,1.10,71.78,0.06,8.75,0.00,0.00,1,True
1,2,1.51761,13.89,3.60,1.36,72.73,0.48,7.83,0.00,0.00,1,True
2,3,1.51618,13.53,3.55,1.54,72.99,0.39,7.78,0.00,0.00,1,True
3,4,1.51766,13.21,3.69,1.29,72.61,0.57,8.22,0.00,0.00,1,True
4,5,1.51742,13.27,3.62,1.24,73.08,0.55,8.07,0.00,0.00,1,True
5,6,1.51596,12.79,3.61,1.62,72.97,0.64,8.07,0.00,0.26,1,True
6,7,1.51743,13.30,3.60,1.14,73.09,0.58,8.17,0.00,0.00,1,True
7,8,1.51756,13.15,3.61,1.05,73.24,0.57,8.24,0.00,0.00,1,True
8,9,1.51918,14.04,3.58,1.37,72.08,0.56,8.30,0.00,0.00,1,True
9,10,1.51755,13.00,3.60,1.36,72.99,0.57,8.40,0.00,0.11,1,True
10,11,1.51571,12.72,3.46,1.56,73.20,0.67,8.09,0.00,0.24,1,True
11,12,1.51763,12.80,3.66,1.27,73.01,0.60,8.56,0.00,0.00,1,True
12,13,1.51589,12.88,3.43,1.40,73.28,0.69,8.05,0.00,0.24,1,True
13,14,1.51748,12.86,3.56,1.27,73.21,0.54,8.38,0.00,0.17,1,True
14,15,1.51763,12.61,3.59,1.31,73.29,0.58,8.50,0.00,0.00,1,True
15,16,1.51761,12.81,3.54,1.23,73.24,0.58,8.39,0.00,0.00,1,True
16,17,1.51784,12.68,3.67,1.16,73.11,0.61,8.70,0.00,0.00,1,True
17,18,1.52196,14.36,3.85,0.89,71.36,0.15,9.15,0.00,0.00,1,True
18,19,1.51911,13.90,3.73,1.18,72.12,0.06,8.89,0.00,0.00,1,True
19,20,1.51735,13.02,3.54,1.69,72.73,0.54,8.44,0.00,0.07,1,True
20,21,1.51750,12.82,3.55,1.49,72.75,0.54,8.52,0.00,0.19,1,True
21,22,1.51966,14.77,3.75,0.29,72.02,0.03,9.00,0.00,0.00,1,True
22,23,1.51736,12.78,3.62,1.29,72.79,0.59,8.70,0.00,0.00,1,True
23,24,1.51751,12.81,3.57,1.35,73.02,0.62,8.59,0.00,0.00,1,True
24,25,1.51720,13.38,3.50,1.15,72.85,0.50,8.43,0.00,0.00,1,True
25,26,1.51764,12.98,3.54,1.21,73.00,0.65,8.53,0.00,0.00,1,True
26,27,1.51793,13.21,3.48,1.41,72.64,0.59,8.43,0.00,0.00,1,True
27,28,1.51721,12.87,3.48,1.33,73.04,0.56,8.43,0.00,0.00,1,True
28,29,1.51768,12.56,3.52,1.43,73.15,0.57,8.54,0.00,0.00,1,True
29,30,1.51784,13.08,3.49,1.28,72.86,0.60,8.49,0.00,0.00,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...
184,185,1.51115,17.38,0.00,0.34,75.41,0.00,6.65,0.00,0.00,6,False
185,186,1.51131,13.69,3.20,1.81,72.81,1.76,5.43,1.19,0.00,7,False
186,187,1.51838,14.32,3.26,2.22,71.25,1.46,5.79,1.63,0.00,7,False
187,188,1.52315,13.44,3.34,1.23,72.38,0.60,8.83,0.00,0.00,7,False
188,189,1.52247,14.86,2.20,2.06,70.26,0.76,9.76,0.00,0.00,7,False
189,190,1.52365,15.79,1.83,1.31,70.43,0.31,8.61,1.68,0.00,7,False
190,191,1.51613,13.88,1.78,1.79,73.10,0.00,8.67,0.76,0.00,7,False
191,192,1.51602,14.85,0.00,2.38,73.28,0.00,8.76,0.64,0.09,7,False
192,193,1.51623,14.20,0.00,2.79,73.46,0.04,9.04,0.40,0.09,7,False
193,194,1.51719,14.75,0.00,2.00,73.02,0.00,8.53,1.59,0.08,7,False
194,195,1.51683,14.56,0.00,1.98,73.29,0.00,8.52,1.57,0.07,7,False
195,196,1.51545,14.14,0.00,2.68,73.39,0.08,9.07,0.61,0.05,7,False
196,197,1.51556,13.87,0.00,2.54,73.23,0.14,9.41,0.81,0.01,7,False
197,198,1.51727,14.70,0.00,2.34,73.28,0.00,8.95,0.66,0.00,7,False
198,199,1.51531,14.38,0.00,2.66,73.10,0.04,9.08,0.64,0.00,7,False
199,200,1.51609,15.01,0.00,2.51,73.05,0.05,8.83,0.53,0.00,7,False
200,201,1.51508,15.15,0.00,2.25,73.50,0.00,8.34,0.63,0.00,7,False
201,202,1.51653,11.95,0.00,1.19,75.18,2.70,8.93,0.00,0.00,7,False
202,203,1.51514,14.85,0.00,2.42,73.72,0.00,8.39,0.56,0.00,7,False
203,204,1.51658,14.80,0.00,1.99,73.11,0.00,8.28,1.71,0.00,7,False
204,205,1.51617,14.95,0.00,2.27,73.30,0.00,8.71,0.67,0.00,7,False
205,206,1.51732,14.95,0.00,1.80,72.99,0.00,8.61,1.55,0.00,7,False
206,207,1.51645,14.94,0.00,1.87,73.11,0.00,8.67,1.38,0.00,7,False
207,208,1.51831,14.39,0.00,1.82,72.86,1.41,6.47,2.88,0.00,7,False
208,209,1.51640,14.37,0.00,2.74,72.85,0.00,9.45,0.54,0.00,7,False
209,210,1.51623,14.14,0.00,2.88,72.61,0.08,9.18,1.06,0.00,7,False
210,211,1.51685,14.92,0.00,1.99,73.06,0.00,8.40,1.59,0.00,7,False
211,212,1.52065,14.36,0.00,2.02,73.42,0.00,8.44,1.64,0.00,7,False
212,213,1.51651,14.38,0.00,1.94,73.61,0.00,8.48,1.57,0.00,7,False
213,214,1.51711,14.23,0.00,2.08,73.36,0.00,8.62,1.67,0.00,7,False